<div class="p-2 max-sm:p-0 group">
    <div class="mb-10 p-4 rounded-md h-70 shadow-[0_1px_20px_1px_rgba(0,0,0,.9)] transition-shadow hover:shadow-[0_15px_40px_10px_rgba(87,144,206,1)] bg-[url('/assets/images/nuvem.png')]">
        <div class=" gap-2 mb-20 ">
            <h1 class="text-xl font-semibold">{{Today}}</h1>
            <h3 class="text-3xl">35°C <span class="text-xs bg-slate-200 rounded-lg p-1">{{RealFeel}}</span></h3> 
            <span class="text-sm text-zinc-700 ">{{Weather}}</span>
        </div> 
        
        <!-- Div more -->
    <div class="opacity-0 group-hover:opacity-100 transition-opacity border-blue-900 grid grid-cols-2 gap-1">
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <img width="10rem" height="1.5rem" src="{{IconTemp}}" alt="">
                <h3 class="text-xs font-semibold">Max. / Mín.</h3>
                <span class="text-xs text-zinc-600">{{MaxWeather}}</span>
            </div>   
            
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <img width="10rem" height="1.5rem" src="{{IconUm}}" alt="">
                <h3 class="text-xs font-semibold">Umidade</h3>
                <span class="text-xs text-zinc-600">{{UmWeather}}</span>
            </div>

            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <img width="10rem" height="1.5rem" src="{{IconWind}}" alt="">
                <h3 class="text-xs font-semibold">Vento</h3>
                <span class="text-xs text-zinc-600">{{WindWeather}}</span>
            </div>
                    
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <img width="10rem" height="1.5rem" src="{{IconUv}}" alt="">
                <h3 class="text-xs font-semibold">Índice-UV</h3>
                <span class="text-xs text-zinc-600">{{UvWeather}}</span>
            </div> 
        </div>  
    </div>
</div>