<div class="grid grid-cols-2 gap-2 max-lg:grid-cols-1 p-2">
    <div class="group grid grid-cols-3 m-auto p-2 h-26 rounded-md shadow-[0_1px_20px_1px_rgba(0,0,0,.9)] transition-shadow hover:shadow-[0_15px_40px_10px_rgba(87,144,206,1)]">
        <div class="flex flex-col justify-center items-center">
            <h2 class="text-xl ">Qua.<span> 22</span></h2>
            <span class="text-sm text-zinc-700">31°</span>
        </div>   
        <div class="flex flex-col justify-center items-center">
            <img  width="80px" src="https://cdn2.iconfinder.com/data/icons/weather-133/24/Cloud_Thunder-512.png" alt="">
        </div>
        <!-- card more -->
        <div class="opacity-0 group-hover:opacity-100 grid grid-cols-1 gap-1">
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Max. / Mín.</h3>
                <span class="text-xs text-zinc-600">32°/25°</span>
            </div>   
    
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Umidade</h3>
                <span class="text-xs text-zinc-600">67%</span>
            </div> 
    
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Vento</h3>
                <span class="text-xs text-zinc-600">10 km/h</span>
            </div>
            
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Índice-UV</h3>
                <span class="text-xs text-zinc-600">7 de 11</span>
            </div> 
        </div>
    </div>

    <div class="group grid grid-cols-3 gap 1 m-auto p-2 h-26 rounded-md shadow-[0_1px_20px_1px_rgba(0,0,0,.9)] transition-shadow hover:shadow-[0_15px_40px_10px_rgba(87,144,206,1)]">
        <div class="flex flex-col justify-center items-center">
            <h2 class="text-xl ">Qui.<span> 23</span></h2>
            <span class="text-sm text-zinc-700">31°</span>
        </div>
        <div class="flex flex-col justify-center items-center">
            <img width="80px" src="https://cdn2.iconfinder.com/data/icons/weather-133/24/Cloud_Thunder-512.png" alt="">
        </div>
        <!-- card more -->
        <div class="opacity-0 group-hover:opacity-100 grid grid-cols-1 gap-1">
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Max. / Mín.</h3>
                <span class="text-xs text-zinc-600">32°/25°</span>
            </div>   
    
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Umidade</h3>
                <span class="text-xs text-zinc-600">67%</span>
            </div> 
    
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Vento</h3>
                <span class="text-xs text-zinc-600">10 km/h</span>
            </div>
            
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Índice-UV</h3>
                <span class="text-xs text-zinc-600">7 de 11</span>
            </div> 
        </div>
    </div>

    <div class="group grid grid-cols-3 gap 1 m-auto p-2 h-26 rounded-md shadow-[0_1px_20px_1px_rgba(0,0,0,.9)] transition-shadow hover:shadow-[0_15px_40px_10px_rgba(87,144,206,1)]">
        <div class="flex flex-col justify-center items-center">
            <h2 class="text-xl ">Sex.<span> 24</span></h2>
            <span class="text-sm text-zinc-700">31°</span>
        </div>
        <div class="flex flex-col justify-center items-center">
            <img width="80px" src="https://cdn2.iconfinder.com/data/icons/weather-133/24/Cloud_Sun-512.png" alt="">
        </div>
        <!-- card more -->
        <div class="opacity-0 group-hover:opacity-100 grid grid-cols-1 gap-1">
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Max. / Mín.</h3>
                <span class="text-xs text-zinc-600">32°/25°</span>
            </div>   
    
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Umidade</h3>
                <span class="text-xs text-zinc-600">67%</span>
            </div> 
    
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Vento</h3>
                <span class="text-xs text-zinc-600">10 km/h</span>
            </div>
            
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Índice-UV</h3>
                <span class="text-xs text-zinc-600">7 de 11</span>
            </div> 
        </div>
    </div>

    <div class="group grid grid-cols-3 gap 1 m-auto p-2 h-26 rounded-md shadow-[0_1px_20px_1px_rgba(0,0,0,.9)] transition-shadow hover:shadow-[0_15px_40px_10px_rgba(87,144,206,1)]">
        <div class="flex flex-col justify-center items-center">
            <h2 class="text-xl ">Sab.<span> 25</span></h2>
            <span class="text-sm text-zinc-700">31°</span>
        </div>
        <div class="flex flex-col justify-center items-center">
            <img width="80px" src="https://cdn2.iconfinder.com/data/icons/weather-133/24/Cloud_Sun_Thunder-512.png" alt="">
        </div>
        <!-- card more -->
        <div class="opacity-0 group-hover:opacity-100 grid grid-cols-1 gap-1">
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Max. / Mín.</h3>
                <span class="text-xs text-zinc-600">32°/25°</span>
            </div>   
    
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Umidade</h3>
                <span class="text-xs text-zinc-600">67%</span>
            </div> 
    
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Vento</h3>
                <span class="text-xs text-zinc-600">10 km/h</span>
            </div>
            
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Índice-UV</h3>
                <span class="text-xs text-zinc-600">7 de 11</span>
            </div> 
        </div>
    </div>

    <div class="group grid grid-cols-3 gap 1 m-auto p-2 h-26 rounded-md shadow-[0_1px_20px_1px_rgba(0,0,0,.9)] transition-shadow hover:shadow-[0_15px_40px_10px_rgba(87,144,206,1)]">
        <div class="flex flex-col justify-center items-center">
            <h2 class="text-xl ">Dom.<span> 26</span></h2>
            <span class="text-sm text-zinc-700">31°</span>
        </div>
        <div class="flex flex-col justify-center items-center">
            <img width="80px" src="https://cdn2.iconfinder.com/data/icons/weather-133/24/Cloud_Thunder-512.png" alt="">
        </div>
        <!-- card more -->
        <div class="opacity-0 group-hover:opacity-100 grid grid-cols-1 gap-1">
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Max. / Mín.</h3>
                <span class="text-xs text-zinc-600">32°/25°</span>
            </div>   
    
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Umidade</h3>
                <span class="text-xs text-zinc-600">67%</span>
            </div> 
    
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Vento</h3>
                <span class="text-xs text-zinc-600">10 km/h</span>
            </div>
            
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Índice-UV</h3>
                <span class="text-xs text-zinc-600">7 de 11</span>
            </div> 
        </div>
    </div>

    <div class="group grid grid-cols-3 gap 1 m-auto p-2 h-26 rounded-md shadow-[0_1px_20px_1px_rgba(0,0,0,.9)] transition-shadow hover:shadow-[0_15px_40px_10px_rgba(87,144,206,1)]">
        <div class="flex flex-col justify-center items-center">
            <h2 class="text-xl ">Seg.<span> 27</span></h2>
            <span class="text-sm text-zinc-700">31°</span>
        </div>
        <div class="flex flex-col justify-center items-center">
            <img width="80px" src="https://cdn2.iconfinder.com/data/icons/weather-133/24/Cloud_Thunder-512.png" alt="">
        </div>
        <!-- card more -->
        <div class="opacity-0 group-hover:opacity-100 grid grid-cols-1 gap-1">
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Max. / Mín.</h3>
                <span class="text-xs text-zinc-600">32°/25°</span>
            </div>   
    
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Umidade</h3>
                <span class="text-xs text-zinc-600">67%</span>
            </div> 
    
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Vento</h3>
                <span class="text-xs text-zinc-600">10 km/h</span>
            </div>
            
            <div class="flex flex-row justify-evenly mb-4 p-1 border-b border-zinc-400">
                <h3 class="text-xs font-semibold">Índice-UV</h3>
                <span class="text-xs text-zinc-600">7 de 11</span>
            </div> 
        </div>
    </div>
</div>